.loader {
  height: 200px;
  width: 100%;
}

.load {
  border: 5px solid rgb(92, 173, 15);
  border-top: 5px solid var(--bs-light); 
  border-right: 5px solid var(--bs-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}