
.sideBar {
  width: 100px;
  height: 100vh;
  border-right: 2px solid var(--bs-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sideBarItem {
  width: max-content;
  padding: 15px;
}

.page-header {
  border-bottom: 3px solid var(--bs-secondary);
  background: white;
  width: calc(100vw - 100px);
  height: 70px;
  position: fixed;
  z-index: 1;
}

.mainPage {
  width: calc(100vw - 100px);
  height: 100vh;
}

.font-30 {
  font-size: 30px;
}
.font-20 {
  font-size: 20px;
}