
.sideBar {
  height: 100vh;
  padding: 10px;
  border-right: 0.1px solid rgb(220, 220, 220);
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0px;
}

#lgSideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#smSideBar {
  display: none;
}

.rightSideBar {
  margin-left: 20px;
  width: 350px;
  height: 100vh;
  position: sticky;
  top: 0px;
  padding-top: 30px;
  display: none;
}

.discover-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.discover {
  background: rgb(250, 250, 250);
  border-radius: 20px;
}

.user-tile:hover {
  background: rgb(240, 240, 240);
}

.see-more-link {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-decoration: none;
}

.view-btn:hover {
  color: white;
  background-color: var(--bs-dark);
}

.see-more-link:hover {
  background: rgb(240, 240, 240);
  color: rgb(92, 173, 15);
}

.sideBarItem {
  width: 45px;
  height: 45px;
  padding: 8px;
  border: 0px;
  border-radius: 50%;
}

.sideBarItem:hover {
  background-color: rgb(220, 220, 220);
}

.page-header {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  height: 60px;
  width: 600px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.mainPage {
  height: max-content;
  border-right: 0.1px solid rgb(220, 220, 220);
}

/* ::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(92, 173, 15);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.top-section, .bottom-section {
  flex-direction: column;
}

.smallImg {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (min-width: 1000px) {
  .rightSideBar {
    display: block;
  }
}

@media only screen and (max-width: 690px) {
  .dashboard {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }

  .page-header {
    width: 100%;
  }

  #smSideBar {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #lgSideBar {
    display: none;
  }

  .sideBar {
    padding: 0px;
    width: 100vw;
    height: 50px;
    border-right: none;
    position: fixed;
    top: calc(100vh - 50px);
    flex-direction: row;
    z-index: 1;
    background-color: white;
    justify-content: space-between;
  }

  .top-section, .bottom-section {
    flex-direction: row;
  }

  .sideBarItem {
    padding: 0px;
    margin: 0px !important;
  }

  .mainPage {
    width: 100%;
  }
}