
.profilePage {
  position: relative;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.experienceHeader {
  border-bottom: 6px solid rgb(92, 173, 15);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 5px;
}

.coverImage {
  height: 90px;
  margin-bottom: 10px;
  width: 100%;
}

.userImage {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 50px;
  border: 2px solid white;
}

.infoDisplay {
  font-weight: 400;
  font-size: 16px;
}

#editProfileButton:hover {
  background-color: rgb(92, 173, 15) !important;
  color: white !important;
  border-color: rgb(92, 173, 15) !important;
}

@media only screen and (min-width: 550px) {
  .coverImage {
    height: 150px;
  }

  .userImage {
    height: 100px;
    width: 100px;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 550px) {
  .toast-sm {
    bottom: 49px !important;
    padding: 0px !important;
    left: 0px;
    width: 100vw;
  }
  .profilePage {
    height: calc(100vh - 120px);
  }
}