
.settingsPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.settings {
  width: 600px;
}

.settingItem {
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  /* font-size: 20px; */
  /* color: white; */
  /* background:  var(--bs-dark); */
}

.settingItem:hover {
  background: rgb(92, 173, 15);;
}

.editCoverImage {
  height: 100px;
  width: 100%;
}

.editUserImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
  margin-top: 50px;
  border: 5px solid white;
}

#addPhotoIcon {
  position: absolute;
  opacity: 0.5;
  font-size: 25px;
  top: 170px;
  left: 60px;
  transform: translate(-50%, -50%);
}

.visible-count div:nth-child(1) span:nth-child(2) {
  display: none !important;
}

.visible-count:focus-within div:nth-child(1) span:nth-child(2) {
  display: flex !important;
}

@media only screen and (min-width: 690px) {
  .editCoverImage {
    height: 200px;
    margin-bottom: 75px;
  }

  .editUserImage {
    width: 150px;
    height: 150px;
    margin-top: 125px;
  }

  #addPhotoIcon {
    left: 85px;
    top: 270px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 690px) {
  .toast-sm-bottom {
    bottom: 0px !important;
    padding: 0px !important;
    left: 0px;
    width: 100vw;
  }
  .settings {
    width: 100%;
  }
}