
.settingsPage {
  position: relative;
  height: calc(100vh - 70px);
  margin-top: 70px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.settingItem {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: underline;
}

.selectedImage {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}