
.searchPage {
  position: relative;
  height: calc(100vh - 70px);
  margin-top: 70px;
  padding: 30px;
  overflow-y: auto;
}

#searchAlert {
  position: fixed;
  z-index: 2;
  top: 10px;
  left: 50vw;
  transform: translateX(-50%);
}

@media only screen and (max-width: 550px) {
  .searchPage {
    height: calc(100vh - 150px);
  }
}