
.searchPage {
  position: relative;
  height: calc(100vh - 70px);
  width: 600px;
  /* overflow-y: auto; */
  height: max-content;
}

.resultImage {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.searchResult:hover {
  background: rgb(92, 173, 15) !important;
  padding: .6rem !important;
}

.search-icon {
  color: var(--bs-secondary);
}

.search-user-div:focus-within .search-icon {
  color: black !important;
}

@media only screen and (max-width: 690px) {
  .searchPage {
    /* height: calc(100vh - 120px); */
    width: 100%;
  }
}