
.experience {
  width: 100%;
  border-bottom: 1px solid var(--bs-secondary);
}

.postPP {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.postImages {
  width: 50%;
  height: 60vh;
  object-fit: cover;
  border: 1px solid var(--bs-secondary);
}

.postHeader {
  /* border-bottom: 1px solid var(--bs-secondary); */
}

.w-120 {
  width: 120px;
}