body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 255, 255);
}

.font-13 {
  font-size: 13px;
}
.font-15 {
  font-size: 15px;
}
.font-20 {
  font-size: 20px;
}
.font-25 {
  font-size: 25px;
}
.font-30 {
  font-size: 30px;
}

.h-70px {
  height: 70px;
}

.content-only, .content-only:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-black {
  background: black;
  color: white;
}

.btn-black:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.btn-black:focus {
  background: black;
  color: white;
}

.text-black {
  color: black;
}

.text-color1 {
  color: rgb(61, 58, 63);
}

.mw-300 {
  max-width: 300px;
}

.hover-danger:hover {
  color: var(--bs-danger);
}

.text-color2 {
  color: rgb(92, 173, 15);
}

.bg-color2 {
  background-color: rgb(92, 173, 15);
}

.border-color2 {
  border: 2px solid rgb(92, 173, 15) !important;
}

.bg-red {
  background: red;
}

.hover-color3:hover{
  color: rgb(92, 190, 15);
}

.toast-container {
  z-index: 10;
}

.btn:focus, .btn-close:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.btn, .btn-close {
  outline: none !important;
  box-shadow: none !important;
}

.focus-border-color2:focus-within {
  border-color: rgb(92, 173, 15) !important; 
  color: rgb(92, 173, 15) !important;
}